{% extends 'layouts/base.html.twig' %}

{% block title %}
  Hello AccountController!
{% endblock %}

{% block body %}
  <div class="">
    <h1>
      Update profile
    </h1>
    {{ form_start(form) }}
   {{ form_row(form.firstName)}}
   {{ form_row(form.lastName)}}
   {{ form_rest(form)}}
    <button type="submit">Apply Changes</button>
    {{ form_end(form) }}
  </div>
{% endblock %}
