{% extends 'layouts/base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

{% if posts|length > 0 %}
<h1 class="mb-4 text-center text-muted">{{ pluralize(posts|length, 'Post') }}</h1>

{% for row in posts|batch(3) %}
<div class="row mb-5">
    {% for post in row %}
    <div class="col-md-4">
        <article class="post bg-white rounded shadow">
            <h2 class="h5 pl-3 pt-3"><a href="{{ path('post_show', {id: post.id}) }}"
                    class="text-secondary text-decoration-none">{{ post.title }}</a></h2>
                    <p class="p-3">{{ CutText(post.description,5) }}</p>
            <p class="d-flex justify-content-around align-items-center  pl-3 pb-3 text-muted"><small>Submitted by {{ post.user.fullName }}</small> <a class="btn btn-primary" href="{{ path('post_show', {id: post.id}) }}"> Lire Article</a> </p>
        </article>
    </div>
    {% endfor %}
</div>
{% endfor %}
{% else %}
no records found
{% endif %}
{% endblock %}